# create gitignore file for python
# Byte-compiled / optimized / DLL files
.pytest_cache/
src/kalkulator/__pycache__/
tests/__pycache__/
tests/test_module/__pycache__/
build/
dist/
main.spec
test_report.html
.coverage